@model IEnumerable<ProfileViewModel>

@using PermissionsAttribute.WebUI.Models.ViewModels

<div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="text-dark">
                    Id
                </th>
                <th class="text-dark">
                    Name
                </th>
                <th class="text-dark">
                    Email
                </th>
                <th class="text-dark">
                    Role
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profile in Model)
            {
                <tr>
                    <td>@profile.Id</td>
                    <td>@profile.Name</td>
                    <td>@profile.Email</td>
                    <td>@profile.Role</td>
                    <td>
                        @Html.ActionLink("Details", "GetProfileById", "Profile", new { id = profile.Id }, new { @class = "text-dark" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>