@model ProfilesViewModel

@using RateLimit.WebUI.Models;
@using RateLimit.WebUI.Models.Profile;

<div id="profilesPage" class="pt-4">
    <form method="get">
        <div class="form-inline form-group ml-2">
            @Html.TextBox("filter", ViewData["Filter"], new { @class = "form-control", placeholder = "Type filter data here...", autocomplete = "off" })

            <input type="submit" value="Filter" class="btn btn-secondary ml-2" />
        </div>
    </form>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="text-dark">
                    Id
                </th>
                <th>
                    @Html.GenerateSortLink(ProfilesSortState.FirstName, ViewData)
                </th>
                <th>
                    @Html.GenerateSortLink(ProfilesSortState.LastName, ViewData)
                </th>
                <th>
                    @Html.GenerateSortLink(ProfilesSortState.Birthday, ViewData)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Profile profile in Model.Profiles)
            {
                <tr>
                    <td>@profile.Id</td>
                    <td>@profile.FirstName</td>
                    <td>@profile.LastName</td>
                    <td>@profile.Birthday.ToBirthdayString()</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex">
        <div class="btn-group mx-auto">
            @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
            {
                if (i == Model.PageInfo.PageNumber)
                {
                    @Html.GeneratePageLink(i, ViewData, "btn btn-secondary");
                }
                else
                {
                    @Html.GeneratePageLink(i, ViewData, "btn btn-outline-secondary");
                }
            }
        </div>
    </div>
</div>